::-webkit-scrollbar
{
    /*width: 10px;  /* remove scrollbar space */
    background: none;  /* optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb
{
    border-style: solid;
    border-width: 5px;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    background: rgba(255, 255, 255, .1);
    background-clip: content-box
}

.firestat
{
    color:hsl(0,0%,75%);
}

.events
{
    max-height:60px;
    min-height:40px;
    overflow-y:auto;
    background:rgb(20,20,20);
    margin: 18px;
    padding: 10px;
    font-size: 18px;
    color:white;
    user-select:none;
}

.main
{
    max-height:500px;
    overflow-y:auto;
    margin: 5px;
    padding: 5px;
}

.info
{
    background:rgb(20,20,20);
    margin: 10px;
    padding: 15px;
    font-size: 18px;
    color:white;
    user-select:none;
}

.speech
{
    background:rgb(20,20,20);
    margin: 10px;
    border: solid 2px rgb(50,50,50);
    padding: 10px;
    font-size: 18px;
    color:white;
    user-select:none;
}

.button
{
    background:rgb(20,20,20);
    border: solid 2px rgb(50,50,50);
    margin:10px;
    padding: 10px;
    font-size: 18px;
    user-select:none;
    cursor:pointer;
    color:white;
    
}

.button:hover
{
    border-color:rgb(90,90,90);
    color:white;
}